*,html,body{
    font-family: Futura, sans-serif;
    margin:0;
    padding:0;
}

table.month{
    border: 2px solid;
    border-collapse:collapse;
    width:277mm;
    height:190mm;
    margin:10mm;
}

table.month thead th{
    height:10mm;
    text-align: center;
}

table.month th.monthname{
    border: 2px solid;
    font-weight: bold;
    font-size:20px;
}

table.month tr.daysofweek td{
    border: 1px solid;
    font-weight: bold;
    font-size:16px;
    border-collapse:collapse;
}

table.month tbody td{
    border: 1px solid;
    border-collapse:collapse;
    padding:0;
    font-size:14px;
    width:39mm;
    height:36mm;
    text-align:left;
    vertical-align: top;
}

table.month td div.day{
    text-align:left;
}

table.month td div.day span.date{
    font-weight: bold;
    margin:10px;
    font-size:20px;
    display:block;
}

table.month td div.day div.birthday, table.month td div.day div.deathdate, table.month td div.day div.event{
    background:#aaccff;
    font-size:12px;
    display:block;
    width:100%;
}

table.month td div.day div.deathdate{
    background: #000000;
    color:#ffffff;
}

table.month td div.day div.event{
    background: #aaffcc;
}

table.month td div.day div.birthday div, table.month td div.day div.deathdate div, table.month td div.day div.event div{
    padding:5px;
}

#menu{
    background-color:#88aadd;
    padding:10px 30px;
    height: 30px;
}

#menu select#yearselect, #menu #monthselect, #nowlink{
    float:left;
    margin-right:30px;
}

#menu #monthselect div{
    float:left;
    margin-right:10px;
}

#menu #monthselect div a{
    color: #333333;
    font-weight: bold;
    text-decoration: none;
}

#menu #nowlink a{
    color: #337755;
    font-weight: bold;
    text-decoration: none;
}

#menu #pdflink a{
    color: #773355;
    font-weight: bold;
    text-decoration: none;
}

